@model List<TEST.Exercise.Domain.Entities.QuestionType>
@{
    Layout = null;
}

    <div id="UploadQuestionTypePanel" style="display:none;margin-bottom:10px;">
        <input hidden="hidden" id="Id" />
        <div class="col-xs-12">
            <label class="control-label" for="Name">类型</label>
            <input class="form-control" disabled="disabled" id="Name" />
        </div>
        <div class="col-xs-12">
            <label class="control-label" for="Score">分值</label>
            <input class="form-control" id="Score" />
        </div>
        <div class="col-xs-12">
            <label class="control-label" for="Number">随机出题数量</label>
            <input class="form-control" id="Number" />
        </div>        
    </div>    
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="25%">
                            <label asp-for="@Model.FirstOrDefault().Name"></label>
                        </th>
                        <th width="25%">
                            <label asp-for="@Model.FirstOrDefault().Number"></label>
                        </th>
                        <th width="25%">
                            <label asp-for="@Model.FirstOrDefault().Score"></label>
                        </th>
                        <th width="25%">
                            <label class="control-label">编辑</label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        try
                        {
                            <tr id="@item.Id">
                                <td style="vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td style="vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td style="vertical-align:middle">
                                    @Html.DisplayFor(modelItem => item.Score)
                                </td>
                                <td style="vertical-align:middle">
                                    <input type="button" value="编辑" class="btn btn-default" onclick="updateQuestionType('@item.Id','@item.Name','@item.Score','@item.Number')" />
                                </td>
                            </tr>
                        }
                        catch
                        {

                        }

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td class="text-muted" colspan="4">
                            <label class="control-label">
                                <b>温馨提示：</b>本题库中单选题共<span style="color:red;"><b>@ViewData["SingleTotalNumber"]</b></span>道，多选题共<span style="color:red;"><b>@ViewData["MultipleTotalNumber"]</b></span>道，判断题共<span style="color:red;"><b>@ViewData["JudgeTotalNumber"]</b></span>道，各类型随机出题数量不能超过对应上限
                            </label>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


<div style="margin-top:35px;width:90%; text-align:center">
    <input type="button" value="保存" id="btnQuestionSave" class="btn btn-primary">
</div>

<script>
    function updateQuestionType(id, name, score, number) {
        $("#Id").val(id);
        $("#Name").val(name);
        $("#Score").val(score);
        $("#Number").val(number);
        layer.open({
            title: "修改信息",
            type: 1,
            shade: 0,   //遮罩透明度
            content: $("#UploadQuestionTypePanel"),
            area: ['350px', '300px'],
            btn: ['确定', '取消'],
            yes: function () {
                $.ajax({
                type: "POST",
                url: "QuestionType/UpdateScoreAndNumber",
                data: JSON.stringify({
                    Id:id,
                    Score: $("#Score").val(),
                    Number: $("#Number").val()
                    
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response) {
                        alert("修改成功！");
                    }
                },
                failure: function (response) {

                }
            })
            },
            btn2: function () {
                layer.closeAll();
            }
        });
    }

    
</script>
